<div class="modal-body">
  <div class="modal-dialog modal-confirm">
    <div class="text-center">
      <i
        class="far fa-check-circle icon-success"
        style="font-size: 200px; color: #32cb00;"
      ></i>
    </div>
    <br />
  </div>
  <div>
    <div class="text-center">
      <h5 class="modal-title">Operacion exitosa!</h5>
    </div>
  </div>
</div>
<br />
<div class="modal-footer text-center">
  <button
    type="button"
    class="btn-success btn-focus-in"
    (click)="closeModal()"
    data-dismiss="modal"
  >
    Aceptar
  </button>
</div>
